@import url("https://fonts.googleapis.com/css2?family=Montserrat+Alternates:ital,wght@0,100;0,300;0,400;0,500;0,700;1,100;1,300;1,400;1,700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600&family=Roboto:wght@100&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Montserrat Alternates", sans-serif;
}

body {
  background-color: #e9edf1;
}

#app {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.full-page-loader {
  position: absolute;
  width: 100%;
  height: 100vh;
  background-color: white;
  z-index: 999;
  display: flex;
  align-items: center;
  justify-content: center;
}

.full-page-loader .lds-dual-ring {
  display: inline-block;
  width: 60px;
  height: 60px;
}
.full-page-loader .lds-dual-ring:after {
  content: " ";
  display: block;
  width: 40px;
  height: 40px;
  margin: 8px;
  border-radius: 50%;
  border: 6px solid #978a8a;
  border-color: #0d1f41#0d1f41 transparent transparent;
  animation: lds-dual-ring 0.6s linear infinite;
}
@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* loadmore */

.arrows {
  width: 60px;
  height: 72px;
  position: absolute;
  left: 50%;
  margin-left: -30px;
  bottom: 20px;
}

.arrows path {
  stroke: #1a3363;
  fill: transparent;
  stroke-width: 1px;
  animation: arrow 2s infinite;
  -webkit-animation: arrow 2s infinite;
}

@keyframes arrow {
  0% {
    opacity: 0;
  }
  40% {
    opacity: 1;
  }
  80% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

@-webkit-keyframes arrow /*Safari and Chrome*/ {
  0% {
    opacity: 0;
  }
  40% {
    opacity: 1;
  }
  80% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

.arrows path.a1 {
  animation-delay: -1s;
  -webkit-animation-delay: -1s; /* Safari 和 Chrome */
}

.arrows path.a2 {
  animation-delay: -0.5s;
  -webkit-animation-delay: -0.5s; /* Safari 和 Chrome */
}

.arrows path.a3 {
  animation-delay: 0s;
  -webkit-animation-delay: 0s; /* Safari 和 Chrome */
}
/* form input */

input.input-class,
textarea {
  border-color: #dfdfdf;
  background-color: #fdfcfb;
  color: #393939;
  transition: border-color 0.2s ease-in-out;
  font-size: 16px;
  line-height: 22px;
  font-weight: normal;
  font-style: normal;
  height: 50px;
  padding: 0 20px;
  max-width: 100%;
  border-width: 1px;
  border-style: solid;
  appearance: none;
  min-width: 100px;
  width: 100%;
  border-radius: 20px;
  margin: 20px 0 0;
}

textarea {
  height: 100px;
  padding-top: 10px;
  outline: 1px;
}
textarea:focus {
  border: 0.5px solid #25344e;
}

.add-form {
  margin-top: 40px;
}

.write-comment{
  text-decoration: underline;
  font-weight: 500;
  color: #0d1f41;
}
@media (max-width: 768px){
  .write-comment{
    text-align: center;
    font-weight: 400px;
  }
}
.form-control {
  margin: 20px 0;
}
.form-control label {
  display: block;
}

.form-control-check {
  display: flex;
  align-items: center;
}
.form-control-check label {
  flex: 1;
}
.form-control-check input {
  flex: 2;
  height: 20px;
}
.form-control input[type="checkbox"] {
  width: auto;
  flex: unset;
  height: 20px;
  margin-right: 20px;
}

input:focus {
  border-color: #25344e;
  outline: none;
}

/* button */

.btn {
  background-color: #0d1f41;
  display: inline-block;
  color: #fdfcfb;
  border: none;
  padding: 10px 30px;
  margin: 5px;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
  font-size: 16px;
  font-family: inherit;
}

@media (max-width: 768px) {
  .btn {
    padding: 8px 15px;
  }
}

.btn:focus {
  outline: none;
}
.btn:active {
  transform: scale(0.98);
}
.container .add-form .btn-block {
  /* display: block; */
  width: 100%;
  background: #1a3363;
  color: #e9edf1;
}

/* container */

.navContainer {
  background: #0d1f41;
  box-shadow: 0px 4px 11px 0px rgb(0 0 0 / 14%);
}

.navContainer a.active button.btn,
.navContainer .btn.active {
  background: #f9ad6a;
  color: rgba(0, 0, 0, 0.842);
}

.section-container {
  margin: 10rem auto 2rem;
  z-index: 20;
}
.container {
  padding: 2rem 4% 2rem;
  box-shadow: 0px 4px 11px 0px rgb(0 0 0 / 14%);
}

.container.login-page {
  background: radial-gradient(
      circle,
      rgb(156, 155, 154) 0%,
      rgba(21, 33, 59, 0.989233193277311) 100%
    ),
    no-repeat center;
  background-size: cover;
  overflow: hidden;
}

@media (max-width: 768px) {
  .container {
    padding: 60px 5%;
  }
}

.container h1 {
  margin-bottom: 20px;
  color: rgb(240, 240, 240);
  font-size: 2rem;
}

.page-title {
  color: #393939;
  padding-top: 5%;
}

@media (max-width: 768px) {
  .page-title {
    text-align: center;
    font-size: 1.2rem;
  }
}

@media (max-width: 768px) {
  .container h1 {
    margin-top: 20%;
    font-size: 1.5rem;
    text-align: center;
  }
}

.container .header-btns {
  position: absolute;
  top: 0;
  right: 10px;
}

.container a.active button.btn,
.container .btn.active {
  background: #f9ad6a;
  color: rgba(0, 0, 0, 0.842);
}

.container button.btn {
  color: #fdfcfb;
  text-align: center;
}

.container button.btn.transparent {
  background-color: transparent;
  text-decoration: underline;
}

.container .header-btns button.btn {
  border-radius: 25px;
}
button.btn {
  border-radius: 25px;
  /* background: #f9ad6a; */
}

.container .books-container {
  margin-top: 50px;
  /* border: 2px red solid ; */
  padding: 1%;
  max-height: fit-content;
  box-sizing: border-box;
  overflow: auto;
}

/* table */

table {
  border-spacing: 0;
  border-collapse: collapse;
  width: 100%;
  margin-bottom: 30px;
  width: 100%;
  background-color: #fdfcfb;
}
table th,
table td {
  border-width: 0;
  border-style: solid;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  padding: 13px 30px;
}
table tr:first-child td,
table tr:first-child th {
  border-top-width: 1px;
  border-top-style: solid;
}
table tr td:first-child,
table tr th:first-child {
  border-left-width: 1px;
  border-left-style: solid;
}
table tr td:last-child,
table tr th:last-child {
  border-right-width: 1px;
  border-right-style: solid;
}
table.is-style-stripes {
  border-width: 0;
  border-style: solid;
}
table.is-style-stripes tr:nth-child(odd) {
  background-color: transparent !important;
}

table tr td,
table tr th {
  padding: 15px 30px;
}
table tr td,
table tr th {
  text-align: left;
}

/* books section */

.book {
  height: 100%;
  display: flex;
  flex-direction: column;
  text-align: center;
  position: relative;
}

.book .book-cover {
  position: relative;
  height: 90%;
  min-height: fit-content;
}

.book .book-cover img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  box-shadow: 0px 4px 11px 0px rgb(0 0 0 / 14%);
}

.book .book-cover:hover button {
  visibility: visible;
  opacity: 1;
}

.book .book-cover button {
  visibility: hidden;
  display: block;
  position: absolute;
  transition: opacity 0.4s ease-in-out, visibility 0.4s ease-in-out;
  transform: none;
  width: 100%;
  left: 0;
  bottom: 0;
  text-align: center;
  opacity: 0;
  border: none;
  background-color: #faa75e;
  color: white;
  height: 51px;
  cursor: pointer;
}

.book .book-cover button span {
  font-weight: 500;
  font-size: 18px;
  margin-left: 10px;
}

.book .book-title {
  font-size: 21px;
  line-height: 27px;
  margin-bottom: 10px;
}

.book .book-author {
  font-size: 19px;
  line-height: 26px;
  margin-bottom: 10px;
}

.book .book-details {
  padding: 10px 20px;
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 100%;
  /* margin-left: 10%; */
}

.books-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  gap: 20px;
}

.books-list a {
  text-decoration: none;
  color: #000;
}

.books-read {
  padding-top: 60px;
  text-align: center;
}

.single-book {
  display: flex;
  padding: 4% auto;
  flex-direction: column;
}

.img-para {
  display: flex;
  gap: 4rem;
  margin-bottom: 2rem;
}

.single-book .book-cover img {
  width: 100%;
  
  height: 100%;
  object-fit: cover;
  object-position: center;
  
}
.single-book .book-cover {
  max-width: 40%;
  min-width: 30%;
  margin: 5% auto;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.144);
  

}

@media( max-width: 900px){
  
.img-para {
 flex-direction: column;
 gap: 2rem;
}
.single-book .book-cover{
  max-width: 60%;
  min-width: 70%;
  /* height: 90%; */

}
}


.single-book .book-details {
  padding-left: 20px;
  margin: 5% auto;
  max-width: 60%;
}

.single-book .book-details h3 {
  font-size: 32px;
}

.single-book .book-details h4 {
  font-size: 22px;
  margin-bottom: 12px;
}

.single-book .book-details p {
  margin-bottom: 20px;
  max-width: 100%;
  text-align: justify;
}

.single-book .book-details .read-checkbox {
  display: flex;
  align-items: center;
}

.single-book .book-details input[type="checkbox"] {
  width: 20px;
  height: 20px;
  margin-right: 6px;
  cursor: pointer;
}

.single-book .book-details .erase-book {
  color: red;
  font-style: italic;
  text-decoration: underline;
  cursor: pointer;
  display: inline-block;
  margin-top: 20px;
}

@media (max-width: 800px) {
  .single-book {
    flex-direction: column;
  }

  .single-book .book-details {
    /* padding-left: 0; */
    margin-top: 20px;
    max-width: 90%;
  }
  .single-book .book-details p{
    width: 100%;
    /* border: 2px red solid; */
    text-align: justify;
  }

  .book .book-cover img {
    position: relative;
  }

  .book .book-cover {
    height: 100%;
    max-height: fit-content;
  }
}

.single-book .book-cover img {
  max-width: 100%;
}

.notes-wrapper {
  padding-left: 40px;
  max-width: 600px;
  margin-top: 2%;
}

.notes-wrapper h2 {
  margin-bottom: 20px;
}

.notes-wrapper details {
  margin-top: 36px;
}

.notes-wrapper details summary {
  cursor: pointer;
}

.notes .note {
  margin-bottom: 12px;
  padding: 18px;
  min-width: 80%;
  width: 80%;
  border: 0.5px solid #3e3e3e27;
  border-radius: 10px;
  position: relative;
}

.notes {
  width: 80vw;
  padding: 10%;
  display: flex;
  background-color: #fff;
  flex-direction: column;
  /* justify-content: center; */
  /* align-items: center; */
  border-radius: 25px;
  margin: 0 auto;
}

.note-cont {
  display: flex;
  margin-left: 2%;
  gap: 10px;
  /* justify-content: left; */
  /* align-items: center; */
  /* border: 2px solid red ; */
}

.notes .note .erase-note {
  margin-left: 1%;
  position: absolute;
   right: 8px;
  /* top: 4px; */
  /* color: red; */
  cursor: pointer; 
  
}

.engage{
  display: flex;
  align-items: center;
  text-align: center;
  /* gap: 5px; */
  margin-top: 4%;
  cursor: pointer;
  position: relative;
  padding: 2%;


}

.icons{
  position: absolute;
  left: 2px;
  bottom: 0.5%;
}

.likes{
  position: absolute;
  left: 6%;
  /* bottom: 10%; */
  /* border: 2px red solid; */
}
/* .notes .note:hover .erase-note {
  display: block;
} */

@media (max-width: 1100px){
  .likes{
    position: absolute;
    left: 15%;
    /* bottom: 10%; */
    /* border: 2px red solid; */
  }

  .engage{
    margin-top: 4%;
    padding: 3%;
  }
  .icons{
    bottom: 1%;
  }

}
@media (max-width: 768px){
  .likes{
    position: absolute;
    left: 15%;
    /* bottom: 10%; */
    /* border: 2px red solid; */
  }

  .engage{
    margin-top: 5%;
    padding: 5%;
  }
  .icons{
    bottom: 1%;
  }

}
@media (max-width: 500px){
  .likes{
    position: absolute;
    left: 15%;
    /* bottom: 10%; */
    /* border: 2px red solid; */
  }

  .engage{
    margin-top: 7%;
    padding: 7%;
  }
  .icons{
    bottom: 1%;
  }

}
.notes .note h3 {
  margin-bottom: 12px;
}

.notes .note p {
  text-align: left;
}

@media (max-width: 768px) {
  .books-list {
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 576px) {
  .books-list {
    grid-template-columns: 1fr;
  }
}

.login-page {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (max-width: 576px) {
  .books-list {
    grid-template-columns: 1fr;
  }
}

.login-page p {
  text-align: center;
  color: #e9edf1;
  margin-bottom: 24px;
  font-size: 1.2rem;
  font-weight: 500;
}
@media (max-width: 768px) {
  .login-welcome {
    width: 100%;
    /* border: solid 2px red; */
    margin: 0 auto;
  }
  .login-welcome h1 {
    font-size: 1.5rem;
    letter-spacing: 2px;
  }
  .login-welcome p {
    font-size: 0.8rem;
    font-weight: 700;
    letter-spacing: 2px;
  }
  .section-container {
    /* margin: 0 auto; */
  }
}

.login-page .login-type {
  text-align: center;
}

.login-page .add-form.login {
  width: 600px;
  max-width: 100%;
  margin: 4rem auto 20px;
  /* border: solid 2px red; */
}
@media (max-width: 768px) {
  .login-page .add-form.login {
    margin: 0 auto;
    width: 80%;
    max-width: 100%;
  }
}

.login-page .add-form label {
  color: rgb(240, 240, 240);
  font-size: 1.1rem;
}

.login-page .add-form .error {
  text-align: center;
  color: red;
  margin: 8px auto;
  width: 90%;
}

.login-page p.forgot-password {
  margin-top: 12px;
  color: #f9ad6a;
  text-decoration: underline;
  font-size: 14px;
  cursor: pointer;
}

.login-page.container button.btn.selected {
  background: #f9ad6a;
  color: #1a3363;
}

.login-page.container button.btn.login {
  background: #3e3e3e;
  color: #fff;
}

.login-signout {
  /* border: 2px red solid; */
  position: absolute;
  top: 2rem;
  right: 4%;
}

.logo {
  position: absolute;
  top: 2rem;
  left: 4%;
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
}

.category-search {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 6rem;
  padding: 1rem 4%;
  /* z-index: 20; */

  margin-top: 4%;
  max-width: 100%;
}

.category-h2 {
  color: #393939;
}
.btns {
  display: flex;
  justify-content: space-around;
  gap: 1rem;
  font-family: "Montserrat Alternates", sans-serif;
}
.category-btn {
  display: flex;
  gap: 2rem;
}
.search-field {
  width: 30%;
  max-width: 40%;
  min-width: 40;
}

@media (max-width: 1230px) {
  .category-search {
    flex-direction: column-reverse;
    gap: 2rem;
  }

  .search-field {
    margin-left: 70%;
  }
}

@media (max-width: 768px) {
  .btns {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 0.5rem;
    width: 100%;
    /* margin-top: 0.8rem; */
  }

  .category-h2 {
    text-align: left;
    letter-spacing: 0.5px;
    font-size: 1.2rem;
  }

  .category-btn {
    width: 100%;
    justify-content: left;
    /* align-items: center; */
    /* margin-right: 10%; */
    /* text-align: center; */
    gap: 1rem;
    flex-direction: column;
    font-family: "Montserrat Alternates", sans-serif;
  }

  .active-btn:nth-of-type(1) {
    max-width: 100px;
    width: 100px;
    font-size: 0.75rem;
    /* padding: 0 4%; */
  }
  .active-btn:nth-of-type(1) {
    max-width: 60px;
    width: 100px;
    font-size: 0.75rem;
    /* padding: 0 4%; */
  }
  .active-btn:nth-of-type(2) {
    max-width: 70px;
    width: 100px;
    font-size: 0.75rem;
    /* padding: 0 4%; */
  }
  .active-btn:nth-of-type(4) {
    max-width: 70px;
    width: 100px;
    font-size: 0.75rem;
    /* padding: 0 4%; */
  }
  .active-btn:nth-of-type(5) {
    max-width: 70px;
    width: 100px;
    font-size: 0.75rem;
    /* padding: 0 4%; */
  }
  .active-btn:nth-of-type(3) {
    max-width: 100px;
    width: 100px;
    min-width: 90px;
    font-size: 0.75rem;
    /* padding: 0 4%; */
  }

  .category-search {
    flex-direction: column-reverse;
    justify-content: center;
    gap: 0;
    padding: 2% 4%;
  }

  .search-field {
    width: 200px;
    min-width: 200px;
    max-width: 400px;
    /* border: 1px solid red */
    margin-left: 50%;
  }
}

.active-btn {
  max-width: 100px;
  width: 200px;
  font-family: "Montserrat Alternates", sans-serif;
}
.active-btn:nth-of-type(3) {
  max-width: 150px;
  /* width: 150px; */
  /* padding: 0 4%; */
}
.active-btn:hover {
  background: #1a3363;
  color: #ffff;
  border: none;
}

.lottie {
  position: absolute;
  left: -6rem;
  margin-top: 4%;
  height: 100%;
  width: 40%;
  opacity: 0.14;
  overflow: hidden;
}

@media (max-width: 768px) {
  .lottie {
    position: absolute;
    top: -4rem;
    left: -6rem;
    /* margin-top: 2%; */
    height: 100%;
    width: 50%;
    opacity: 0.14;
    overflow: hidden;
  }
}

.css-spinners {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}
.not-found {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5% auto;
  /* width: 100%; */
  font-size: 1.3rem;
  text-align: center;
  /* border: red solid 2px; */
}

.end {
  margin-top: 7%;
  position: absolute;
  /* margin: 7% auto 0; */
  /* transform: translate(-50%,50%); */
  left: 50%;
  right: 50%;
}

@media (max-width: 768px) {
  .not-found {
    font-size: 0.9rem;
    width: 50%;
  }
}

.bottom-loader {
  position: relative;
  bottom: 1%;
  /* padding: 4%; */
}

.more {
  position: relative;
  top: 3rem;
  z-index: 2;
  top: 7rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2px;
  padding: 3% 0 2%;

  color: #25344e;
  /* bottom: 1px; */
  cursor: pointer;
  transition: all ease-in-out 0.3s;
  text-align: center;
}

.more span:hover {
  color: #f9ad6a;
}
